{% extends 'components/navbar.html' %}

{% load static %}

{% block content %}
<h1 style="text-align: center;">
    Posts {{ name }}
</h1>

<form action="/posts/" method="get">
    {{ post_filter_form.as_p }}
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        {% if post.image %}
            <img src="/media/{{ post.image }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static 'default.png' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6>{{ post.author }}</h6>
        </div>
        <ul class="list-group list-group-flush">
            {% for tag in post.tags.all %}
                <li class="list-group-item">{{ tag.title }}</li>
            {% endfor %}
        </ul>
        <div class="card-body">
        <a href="/posts/{{ post.id }}" class="card-link">Show more..</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
